h1 Modules

.row
  .col-md-4
    .list-group
      a.list-group-item(
        ng-repeat='m in modules'
        ui-sref='modules.detail({ id: m.$attributes.id })'
        ui-sref-active='active'
      )
        span.badge {{m.$attributes.group.name}}
        h3.list-group-item-heading {{m.$attributes.name}}

    a.btn.btn-primary(ng-click='new()') New

  .col-md-8(ui-view='detail')