<div class="row">
  <div class="col-md-1">
    <a class="btn btn-danger"
      ng-click="removeAdjective()">&times;</a>
  </div>

  <div class="col-md-3">
    <input type="text" name="name" class="form-control" placeholder="Name"
      ng-model="adjective.name">
  </div>

  <div class="col-md-3">
    <input type="text" name="label" class="form-control" placeholder="Name"
      ng-model="adjective.label">
  </div>

  <div class="col-md-5">
    <div class="form-group">
      <div class="col-xs-12">
        <select name="type" class="form-control"
          ng-options="type for type in valueTypes"
          ng-model="adjective.type"></select>
      </div>
    </div>

    <div ng-switch="adjective.type">
      <!-- String -->
      <div ng-switch-when="string">

      </div>

      <!-- Float -->
      <div ng-switch-when="float">
        <div class="form-group">
          <div class="col-sm-4">
            <input type="text" name="min" class="form-control" placeholder="Min"
              ng-model="adjective.min">
          </div>

          <div class="col-sm-4">
            <input type="text" name="max" class="form-control" placeholder="Max"
              ng-model="adjective.max">
          </div>

          <div class="col-sm-4">
            <input type="text" name="step" class="form-control" placeholder="Step"
              ng-model="adjective.step">
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-6">
            <input type="number" name="default" class="form-control" placeholder="Default"
              ng-model="adjective.default">
          </div>

          <div class="col-xs-6">
            <input type="text" name="metric" class="form-control" placeholder="Metric"
              ng-model="adjective.metric">
          </div>
        </div>
      </div>

      <!-- Boolean -->
      <div ng-switch-when="boolean">
        <div class="form-group">
          <div class="col-xs-6">
            <input type="text" name="label" class="form-control" placeholder="Falsey"
              ng-model="adjective.options.0.label"
              ng-init="adjective.options.1.value=false">
          </div>

          <div class="col-xs-6">
            <input type="text" name="label" class="form-control" placeholder="Truthy"
              ng-model="adjective.options.1.label"
              ng-init="adjective.options.1.value=true">
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="default" ng-model="adjective.default">
                Default
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Radios -->
      <div ng-switch-when="radios">
        <div class="form-group" ng-repeat="option in adjective.options">
          <div class="col-sm-2">
            <a class="btn btn-danger"
              ng-click="removeOption(option)">&times;</a>
          </div>

          <div class="col-sm-5">
            <input type="text" name="value" class="form-control" placeholder="Value"
              ng-model="option.value">
          </div>

          <div class="col-sm-5">
            <input type="text" name="label" class="form-control" placeholder="Label"
              ng-model="option.label">
          </div>
        </div>

        <a class="btn btn-xs btn-default" ng-click="addOption()">Add Option</a>
      </div>

      <!-- Checkboxes -->
      <div ng-switch-when="checkboxes">
        <div class="form-group" ng-repeat="option in adjective.options">
          <div class="col-sm-6">
            <input type="text" name="value" class="form-control" placeholder="Value"
              ng-model="option.value">
          </div>

          <div class="col-sm-6">
            <input type="text" name="label" class="form-control" placeholder="Label"
              ng-model="option.label">
          </div>
        </div>

        <a class="btn btn-xs btn-default" ng-click="addOption()">Add Option</a>
      </div>
    </div>
  </div>
</div>