<ng-form="moduleForm" class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label class="control-label col-md-2">Name</label>
      <div class="col-md-10">
        <input type="text" class="form-control"
          ng-model="active.name"
          ng-required>
      </div>
    </div>

    <hr>

    <div class="form-group">
      <label class="control-label col-md-2">Adjectives</label>
      <div class="col-md-10">

        <div ng-repeat="adjective in active.adjectives"
          ng-controller="ModuleTypeAdjectiveController"
          ng-include="'views/moduletypes/adjective.html'"></div>

        <a class="btn btn-default" ng-click="addAdjective(active)">Add Adjective</a>
      </div>
    </div>

    <hr>

    <div class="form-group">
      <label class="control-label col-md-2">Verbs</label>

      <div class="col-md-10">

        <div class="row" ng-repeat="verb in active.verbs">
          <div class="col-md-1">
            <a class="btn btn-danger"
              ng-click="removeVerb(verb)">&times;</a>
          </div>

          <div class="col-md-3">
            <input type="text" name="name" class="form-control" placeholder="Name"
              ng-model="verb.name">
          </div>

          <div class="col-md-3">
            <input type="text" name="label" class="form-control" placeholder="Name"
              ng-model="verb.label">
          </div>
        </div>

        <a class="btn btn-default" ng-click="addVerb(active)">Add Verb</a>

      </div>
    </div>
  </fieldset>

  <hr>

  <fieldset class="buttons">
    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <a class="btn btn-primary" ng-click="save()">Save</a>
        <a class="btn btn-default" ng-click="cancel()">Cancel</a>
        <a class="btn btn-danger" ng-click="delete()">Delete</a>
      </div>
    </div>
  </fieldset>
</ng-form>