<ng-form="moduleForm" class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label class="control-label col-md-2">Name</label>
      <div class="col-md-10">
        <input type="text" class="form-control"
          ng-model="active.name"
          ng-required>
      </div>
    </div>

    <hr>

    <div class="form-group">
      <label class="control-label col-md-2">Attributes</label>
      <div class="col-md-10">

        <div ng-repeat="attribute in active.attributes"
          ng-controller="ModuleTypeAttributeController"
          ng-include="'views/moduletypes/attribute.html'"></div>

        <a class="btn btn-default" ng-click="addAttribute()">Add Attribute</a>
      </div>
    </div>

    <hr>

    <div class="form-group">
      <label class="control-label col-md-2">Methods</label>

      <div class="col-md-10">

        <div ng-repeat="method in active.methods"
          ng-controller="ModuleTypeMethodController"
          ng-include="'views/moduletypes/method.html'"></div>

        <a class="btn btn-default" ng-click="addMethod()">Add Method</a>

      </div>
    </div>
  </fieldset>

  <hr>

  <fieldset class="buttons">
    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <a class="btn btn-primary" ng-click="save()">Save</a>
        <a class="btn btn-default" ng-click="cancel()">Cancel</a>
        <a class="btn btn-danger" ng-click="delete()">Delete</a>
      </div>
    </div>
  </fieldset>
</ng-form>