<h1>Types</h1>

<div class="row">
  <div class="col-md-4">
    <div class="list-group" ng-show="types.length > 0">
      <a class="list-group-item"
        ng-click="activate(type)"
        ng-repeat="type in types">

        <h3 class="list-group-item-heading">
          {{type.name}}
        </h3>
      </a>
    </div>

    <div class="well" ng-show="types.length < 1">
      No types...
    </div>

    <a class="btn btn-primary" ng-click="new()">New</a>
  </div>

  <div class="col-md-8">
    <ng-form="moduleForm" ng-if="active" class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <label class="control-label col-md-2">Name</label>
          <div class="col-md-10">
            <input type="text" class="form-control"
              ng-model="active.name"
              ng-required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2">Values</label>
          <div class="col-md-10">

            <div class="row" ng-repeat="value in active.values">
              <div class="col-md-1">
                <a class="btn btn-danger"
                  ng-click="removeValue(active, value)">&times;</a>
              </div>

              <div class="col-md-5">
                <input type="text" name="name" class="form-control" placeholder="Name"
                  ng-model="value.name">
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-xs-12">
                    <select name="type" class="form-control"
                      ng-options="type for type in valueTypes"
                      ng-model="value.type"></select>
                  </div>
                </div>

                <div ng-switch="value.type">
                  <!-- String -->
                  <div ng-switch-when="string">

                  </div>

                  <!-- Float -->
                  <div ng-switch-when="float">
                    <div class="form-group">
                      <div class="col-sm-4">
                        <input type="text" name="min" class="form-control" placeholder="Min"
                          ng-model="value.min">
                      </div>

                      <div class="col-sm-4">
                        <input type="text" name="max" class="form-control" placeholder="Max"
                          ng-model="value.max">
                      </div>

                      <div class="col-sm-4">
                        <input type="text" name="step" class="form-control" placeholder="Step"
                          ng-model="value.step">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-xs-12">
                        <input type="number" name="default" class="form-control" placeholder="Default"
                          ng-model="value.default">
                      </div>
                    </div>
                  </div>

                  <!-- Boolean -->
                  <div ng-switch-when="boolean">
                    <div class="form-group">
                      <div class="col-xs-6">
                        <input type="text" name="min" class="form-control" placeholder="Truthy"
                          ng-model="value.truthy">
                      </div>

                      <div class="col-xs-6">
                        <input type="text" name="max" class="form-control" placeholder="Falsey"
                          ng-model="value.falsey">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-xs-12">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="default" ng-model="value.default">
                            Default
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Radios -->
                  <div ng-switch-when="radios">
                    <div class="form-group" ng-repeat="option in value.options">
                      <div class="col-sm-6">
                        <input type="text" name="value" class="form-control" placeholder="Value"
                          ng-model="option.value">
                      </div>

                      <div class="col-sm-6">
                        <input type="text" name="label" class="form-control" placeholder="Label"
                          ng-model="option.label">
                      </div>
                    </div>

                    <a class="btn btn-xs btn-primary" ng-click="addOption(value)">Add Option</a>
                  </div>

                  <!-- Checkboxes -->
                  <div ng-switch-when="checkboxes">
                    <div class="form-group" ng-repeat="option in value.options">
                      <div class="col-sm-6">
                        <input type="text" name="value" class="form-control" placeholder="Value"
                          ng-model="option.value">
                      </div>

                      <div class="col-sm-6">
                        <input type="text" name="label" class="form-control" placeholder="Label"
                          ng-model="option.label">
                      </div>
                    </div>

                    <a class="btn btn-default" ng-click="addOption(value)">Add Option</a>
                  </div>
                </div>
              </div>
            </div>

            <a class="btn btn-default" ng-click="addValue(active)">Add Value</a>
          </div>
        </div>
      </fieldset>

      <hr>

      <fieldset class="buttons">
        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <a class="btn btn-primary" ng-click="save()">Save</a>
            <a class="btn btn-default" ng-click="cancel()">Cancel</a>
            <a class="btn btn-danger" ng-click="delete()">Delete</a>
          </div>
        </div>
      </fieldset>
    </ng-form>
  </div>
</div>
