<h1>Modules</h1>

<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <a class="list-group-item"
        ng-click="activate(module)"
        ng-repeat="module in modules"
        ng-class="{'active':isActive(module)">

        <h3 class="list-group-item-heading">
          {{module.name}}
          <span class="badge badge-primary">{{module.group.name}}</span>
        </h3>

        <dl>
          <dt ng-repeat-start="value in module.type.values">{{value.label}}</dt>
          <dd ng-repeat-end>
            {{module.values[value.name]}}{{value.metric}}
          </dd>
        </dl>
      </a>
    </div>

    <a class="btn btn-primary" ng-click="new()">New</a>
  </div>

  <div class="col-md-8"
    ng-controller="ModuleController"
    ng-include="'views/modules/module.html'"
    ng-if="module">
  </div>
</div>
