<h1>Modules</h1>

<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <a class="list-group-item"
        ng-click="activate(module)"
        ng-repeat="module in modules">

        <h3 class="list-group-item-heading">
          {{module.name}}
          <span class="badge badge-primary">{{module.group.name}}</span>
        </h3>

        <dl>
          <dt ng-repeat-start="value in module.type.values">{{value.label}}</dt>
          <dd ng-repeat-end>
            {{module.values[value.name]}}{{value.metric}}
          </dd>
        </dl>
      </a>
    </div>

    <a class="btn btn-primary" ng-click="blank()">New</a>
  </div>

  <div class="col-md-8" ng-if="active">
    <div class="well">
      <h2>{{active.name}}</h2>

      <div class="form-group" ng-repeat="value in active.type.values">

        <label for="{{value.name}}">{{value.label}}</label>

        <div ng-switch="value.type">

          <!-- Float -->
          <div ng-switch-when="float">
            <div class="row">
              <div class="col-xs-4">
                <knob knob-data="active.values[value.name]"
                  knob-min="{{value.min}}"
                  knob-max="{{value.max}}"
                  knob-options="{width:200,angleOffset:-125,angleArc:250}"
                  ng-model="active.values[value.name]"></knob>

                <div class="input-group">
                  <input type="text" name="{{value.name}}" class="form-control"
                    ng-model="active.values[value.name]">

                  <span class="input-group-addon">{{value.metric}}</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Boolean -->
          <div ng-switch-when="boolean">
            <bs-switch type="checkbox"
              ng-model="active.values[value.name]"
              ng-change="active.$save()"
              switch-active="true"
              switch-off-text="{{value.options.0.label}}"
              switch-on-text="{{value.options.1.label}}"
              switch-on-color="primary"
              switch-size="large"></bs-switch>
          </div>

          <!-- Radio -->
          <div ng-switch-when="radios">
            <label class="radio-inline" ng-repeat="option in value.options">
              <input type="radio" name="{{value.name}}" value="{{option.value}}"
                ng-model="active.values[value.name]">
              {{option.label}}
            </label>
          </div>

        </div>
      </div>

    </div>

    <ng-form="moduleForm" class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <label class="control-label col-md-2">Name</label>
          <div class="col-md-10">
            <input type="text" class="form-control"
              ng-model="active.name"
              ng-required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2">Type</label>
          <div class="col-md-10">
            <select class="form-control"
              ng-model="active.type.id"
              ng-options="type.id as type.name for type in types">
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2">Groups</label>
          <div class="col-md-10">
            <select class="form-control"
              ng-model="active.group.id"
              ng-options="group.id as group.name for group in groups">
            </select>
          </div>
        </div>
      </fieldset>

      <fieldset class="buttons">
        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <a class="btn btn-primary" ng-click="save()">Save</a>
            <a class="btn btn-default" ng-click="cancel()">Cancel</a>
            <a class="btn btn-danger" ng-click="delete()">Delete</a>
          </div>
        </div>
      </fieldset>
    </ng-form>
  </div>
</div>
