<h1>Rules</h1>

<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <a class="list-group-item"
        ng-repeat="rule in rules"
        ng-click="activate(rule)">
        <h4 class="list-group-item-heading">{{rule.name}}</h4>
        <p class="list-group-item-text">
          {{rule.conditions.length}}
          <span ng-pluralize
            count="rule.conditions.length"
            when="{'one': 'Condition', 'other': 'Conditions'}"></span>,

          {{rule.actions.length}}
          <span ng-pluralize
            count="rule.actions.length"
            when="{'one': 'Action', 'other': 'Actions'}"></span>
        </p>
      </a>
    </div>

    <a class="btn btn-primary"
      ng-click="addRule()">
      New
    </a>
  </div>

  <div class="col-md-8"
    ng-show="rule"
    ng-controller="RuleController"
    ng-include="'views/rules/rule.html'">
  </div>
</div>
