<h1>Rules</h1>

<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <a class="list-group-item"
        ng-repeat="rule in rules"
        ng-click="activate(rule)">
        <h4 class="list-group-item-heading">{{rule.name}}</h4>
        <p class="list-group-item-text">
          {{rule.conditions.length}}
          <span ng-pluralize
            count="rule.conditions.length"
            when="{'one': 'Condition', 'other': 'Conditions'}"></span>,

          {{rule.actions.length}}
          <span ng-pluralize
            count="rule.actions.length"
            when="{'one': 'Action', 'other': 'Actions'}"></span>
        </p>
      </a>
    </div>

    <a class="btn btn-primary"
      ng-click="addRule()">
      New
    </a>
  </div>

  <div class="col-md-8"
    ng-show="active">

    <div class="form-group">
      <input class="form-control input-lg"
        ng-model="active.name">
    </div>

    <div class="form form-inline">
      <h3>Conditions</h3>
      <p class="lead">
        Match
        <select class="form-control" required
          ng-model="active.operator">
          <option value="&&">all</option>
          <option value="||">any</option>
        </select>
        of the following condition(s):
      </p>

      <div class="list-group"
        ng-show="active.conditions.length > 0">
        <div class="list-group-item"
          ng-repeat="condition in active.conditions">

          <a class="close"
            ng-click="removeCondition(condition)">
            &times;
          </a>

          <h4 class="list-group-item-heading">Condition #{{$index + 1}}</h4>

          <p class="list-group-item-text">
            If

            <select class="form-control"
              ng-options="module.id as module.name for module in modules"
              ng-model="condition.module"
              ng-change="updateValues(condition)"></select>

            <select class="form-control"
              ng-options="value.name as value.label for value in condition.$values"
              ng-model="condition.value"
              ng-change="updateValue(condition)"
              ng-show="condition.module"></select>

            <span ng-switch="condition.$value.type">
              <span ng-switch-when="boolean">
                is

                <select class="form-control"
                  ng-options="option.value as option.label for option in condition.$value.options"
                  ng-model="condition.argument"></select>
              </span>

              <span ng-switch-when="float">
                <select class="form-control"
                  ng-model="condition.operator">
                  <option value="==">is</option>
                  <option value="!=">is not</option>
                  <option value=">">is greater than</option>
                  <option value="<">is less than</option>
                  <option value="> x <">is between</option>
                </select>

                <span ng-show="condition.operator">
                  <input type="number" class="form-control"
                    ng-min="value.min"
                    ng-max="value.max"
                    ng-model="condition.argument.0">

                  <span ng-show="condition.operator == '> x <'">
                    and

                    <input type="number" class="form-control"
                      ng-min="condition.$value.min"
                      ng-max="condition.$value.max"
                      ng-model="condition.argument.1">
                  </span>

                  {{condition.$value.metric}}
                </span>
              </span>

              <span ng-switch-when="string">String</span>
              <span ng-switch-when="radios">Radios</span>
              <span ng-switch-when="checkboxes">Checkboxes</span>

            </span>
          </p>
        </div>
      </div>

      <a class="btn btn-default btn-sm"
        ng-click="addCondition()">
        Add Condition
      </a>

      <hr>

      <h3>Actions</h3>
      <div class="list-group"
        ng-show="active.actions.length > 0">

        <div class="list-group-item"
          ng-repeat="action in active.actions">

          <a class="close"
            ng-click="removeAction(action)">
            &times;
          </a>

          <h4 class="list-group-item-heading">Action # {{$index + 1}}</h4>

          <p class="list-group-item-text">

            Then...

          </p>
        </div>
      </div>

      <a class="btn btn-default btn-sm"
        ng-click="addAction()">
        Add Action
      </a>

      <hr>

      <a class="btn btn-primary"
        ng-click="save()">
        Save
      </a>

      <a class="btn btn-default"
        ng-click="cancel()">
        Cancel
      </a>

      <a class="btn btn-danger"
        ng-click="delete()">
        Delete
      </a>
    </div>
  </div>
</div>
