a.close(ng-click='removeCondition(condition)') ×

h4.list-group-item-heading Condition #{{$index + 1}}

p.list-group-item-text
  | If
  select.form-control(
    ng-options='module.id as module.name group by module.type.name for module in modules',
    ng-model='condition.module'
  )

  select.form-control(
    ng-options='value.name as value.label for value in values',
    ng-model='condition.value',
    ng-show='condition.module'
  )

  span(ng-switch='value.type')

    span(ng-switch-when='boolean')
      | is
      select.form-control(
        ng-options='option.value as option.label for option in value.options',
        ng-model='condition.argument'
      )

    span(ng-switch-when='float')
      select.form-control(ng-model='condition.operator')
        option(value='==') is
        option(value='!=') is not
        option(value='>') is greater than
        option(value='<') is less than
        option(value='> x <') is between

      span(ng-show="condition.operator == '> x <'")
        input.form-control(
          type='number',
          ng-min='value.min',
          ng-max='value.max',
          ng-model='condition.argument.0'
        )
        | {{condition.$value.metric}}

    span(ng-switch-when='string') String

    span(ng-switch-when='radios') Radios

    span(ng-switch-when='checkboxes') Checkboxes
